h1{
    align-items: left;
   padding-top:60px;
    font-size: 60px;
    font-family: 'Merriweather', serif;
    /* padding: ; */
    color:beige;
    padding-left: 5px;

   
}
body{
    background-color:white;
    margin: auto;
}

    header{
    
    background-image:url("https://pbs.twimg.com/media/DROYLIZVoAAmaRE.jpg");
    max-width: auto;
    min-height: 250px;
  

}

*{
margin: 0px;
}
.grid-container{
    display: grid;
    background-color: #DAEAF1;
    padding: 10px;
    grid-template-columns: auto auto auto;
}
.grid-item{
    height: 400px;
    border: 1 px solid red;
    padding: 20px;
    padding: 5px 10px 5px 10px;
}
figcaption{
    font-size: 30px;
    text-align: center;
    color: black;
}
a:link {
        text-decoration: none;
 }
 a:visited {
    text-decoration: none;
  }
img{
    width: 480px;
    height: 282px;
    
}